# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Jetbrains
.idea/

# Visual Studio
.vs/
*.suo
*.user

# Build results
[Bb]in/
[Oo]bj/

# Rider
*.sln.DotSettings.user

# User-specific files
*.secrets.json
appsettings.Development.json

# Build files
*.log
*.tlog
*.trx

# etc.
